#blocklyDiv {
  height: 100%;
  width: 60%;
  float:left;
}

#right {
  height: 100%;
  width: 40%;
  float: right;
}

#right * {
  margin: 10px;
}

#codeView {
  height: 60%;
  box-shadow: 0 0 10px #555;
  font-size:x-large;
  padding: 10px;
}

#codeGen {
  width: 150px;
  height: 40px;
  font-size: large;
}
